<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 'Hello World'.toUpperCase() %></h1>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta eligendi,
      porro dolorum, sint commodi illo recusandae tempora odit, iure unde
      consequatur magni quibusdam placeat doloremque fugit magnam nam fuga quas.
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
      exercitationem inventore cumque repellat aspernatur temporibus quidem
      excepturi aperiam provident asperiores. Doloribus adipisci perferendis
      ipsum illum corporis repudiandae temporibus repellendus consectetur.
    </p>
  </body>
</html>
